body {
  width: 100%;
  /* height: 768px; */
  margin: 0;
  display: flex;
  flex-direction: column;
}
#idHeader {
  padding: 0 15px;
  background-color: #1c1c1c;
  flex: 1 1 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#idsnsLogo {
  display: flex;
  justify-content: center;
}
.clsnsImg {
  padding: 1px 10px;
}

#idCenter {
  border: 1px black solid;
  flex: 13 1 auto;
  display: flex;
}
#idNavigation {
  border: 1px blue solid;
  width: 200px;
}
#idMainSection {
  border: 1px green solid;
  flex: 8 1 auto;
  display: flex;
  flex-direction: column;
}

#idMainContainer {
  flex: 8 1 0;
}

#idFooter {
  background-color: #444444;
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#idFooterContent {
  padding: 5px;
  color: #dadada;
}
#idCopyright {
  padding: 5px;
  font-size: 13px;
  color: #7e7f82;
}
